<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div class="bg-card">
        <div class="mx-auto flex w-full max-w-screen-xl flex-col px-6 sm:px-8">
            <div
                class="my-8 flex min-w-0 flex-auto flex-col sm:my-12 sm:flex-row sm:items-center"
            >
                <!-- Avatar and name -->
                <div class="flex min-w-0 flex-auto items-center">
                    <div class="h-16 w-16 flex-0 overflow-hidden rounded-full">
                        <img
                            class="h-full w-full object-cover"
                            src="images/avatars/brian-hughes.jpg"
                        />
                    </div>
                    <div class="ml-4 flex min-w-0 flex-col">
                        <ng-container *transloco="let t">
                            <div
                                class="truncate text-2xl font-semibold leading-7 tracking-tight md:text-5xl md:leading-snug"
                            >
                                {{ t('Seja Bem-vindo') }}, Diego!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"
                            ></mat-icon>
                            <div
                                class="text-secondary ml-1.5 truncate leading-6"
                            >
                                Você tem 2 novas mensagens e 15 novas tarefas
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="mt-6 flex items-center space-x-3 sm:ml-2 sm:mt-0">
                    <button
                        class="bg-accent"
                        mat-flat-button
                        [color]="'accent'"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:envelope'"
                        ></mat-icon>
                        <span class="ml-2">Menssagens</span>
                    </button>
                    <button mat-flat-button [color]="'primary'">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog-8-tooth'"
                        ></mat-icon>
                        <span class="ml-2">Configuração</span>
                    </button>
                </div>
            </div>
            <!-- Project selector -->
            <div
                class="bg-default relative flex cursor-pointer self-start overflow-hidden rounded-t-xl border border-b-0 pb-1 pl-5 pr-4 pt-2"
                matRipple
                [matMenuTriggerFor]="projectsMenu"
            >
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <div class="truncate font-medium leading-6">
                            {{ selectedProject }}
                        </div>
                    </div>
                    <div class="flex items-center justify-center pl-2">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_mini:chevron-down'"
                        ></mat-icon>
                    </div>
                </div>
                <mat-menu #projectsMenu="matMenu" [xPosition]="'before'">
                    <button
                        mat-menu-item
                        (click)="selectedProject = 'ACME Corp. Backend App'"
                    >
                        ACME Corp. Backend App
                    </button>
                    <button
                        mat-menu-item
                        (click)="selectedProject = 'ACME Corp. Frontend App'"
                    >
                        ACME Corp. Frontend App
                    </button>
                    <button
                        mat-menu-item
                        (click)="selectedProject = 'Creapond'"
                    >
                        Creapond
                    </button>
                    <button
                        mat-menu-item
                        (click)="selectedProject = 'Withinpixels'"
                    >
                        Withinpixels
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>